.filter{
    :global([class^='FilterTitle_filte']){
        position: relative;
        z-index: 3;
    }
    :global([class^='FilterPicker_picker']){
        position: relative;
        z-index: 3;
    }
}
.mask{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 2;
}